<div class="ui-g statistics">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-g overview-box overview-box-1">
            <div class="overview-box-title">
                <i class="fa fa-inbox"></i>
                <span>Players</span>
            </div>
            <div class="overview-box-count">150</div>
            <div class="overview-box-stats">12 less than yesterday</div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-g overview-box overview-box-2">
            <div class="overview-box-title">
                <i class="fa fa-map-pin"></i>
                <span>Average</span>
            </div>
            <div class="overview-box-count">532</div>
            <div class="overview-box-stats">46 more than yesterday</div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-g overview-box overview-box-3">
            <div class="overview-box-title">
                <i class="fa fa-folder"></i>
                <span>Something cool</span>
            </div>
            <div class="overview-box-count">450</div>
            <div class="overview-box-stats">30 more than yesterday</div>
        </div>
    </div>
</div>
<div class="leaderboard">
    <p-panel>
        <p-header>
            <h2>Leaderboard</h2>
        </p-header>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Score</th>
                    <th>Nationality</th>
                    <th>Change</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="assets/layout/images/dashboard/flag-brazil.png" width="45" /></td>
                    <td>BRAZIL</td>
                    <td>4234</td>
                    <td>4234</td>
                    <td>+35%</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="assets/layout/images/dashboard/flag-china.png" width="45" /></td>
                    <td>CHINA</td>
                    <td>3214</td>
                    <td>3214</td>
                    <td>-25%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img src="assets/layout/images/dashboard/flag-belgium.png" width="45" /></td>
                    <td>BELGIUM</td>
                    <td>2842</td>
                    <td>2842</td>
                    <td>+28%</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><img src="assets/layout/images/dashboard/flag-france.png" width="45" /></td>
                    <td>FRANCE</td>
                    <td>1942</td>
                    <td>1942</td>
                    <td>+15%</td>
                </tr>
            </tbody>
        </table>
    </p-panel>
</div>