/* You can add global styles to this file, and also import other style files */

.fullheight {
    height: 100%;
}

.layout-main {
    min-height: 100%;
}

.margin-top {
    margin-top: 15px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.inline-block {
    display: inline-block
}